// Game product
.card-game-product {
    border-width: 0;
    margin-bottom: 1.5rem;

    &:not(:hover) {
        color: $body-color;
    }

    &:hover {
        .card {
            &-img {
                filter: drop-shadow(0 0 .5rem rgba(black, .25)) saturate(2);
            }

            &-title {
                color: $primary;
            }
        }
    }

    .card {
        &-img {
            border-radius: 0;
            max-width: 255px;
            margin: 0 auto 1rem;
        }

        &-title {
            text-align: center;
            margin-bottom: 0;
        }
    }
}

// Login
.card-login {
    border-width: 0;
    border-radius: 1rem;
    background-color: $gray-200;
    padding: 1.5rem;
    justify-content: center;
}

// Payment
.card-payment {
    border-width: 0;
    border-radius: 0;
    margin-bottom: 1.5rem;

    .card-img {
        border-radius: 0;
    }

    &:hover {
        .card-img {
            filter: drop-shadow(0 0 .5rem rgba(black, .15)) saturate(2);
        }
    }
}