@font-face {
    font-family: 'PSL Kittithada Pro';
    src: url('../font/PSLKittithadaProBoldItalic.woff2') format('woff2'),
        url('../font/PSLKittithadaProBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PSL Kittithada Pro';
    src: url('../font/PSLKittithadaPro.woff2') format('woff2'),
        url('../font/PSLKittithadaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Kittithada Pro';
    src: url('../font/PSLKittithadaProBold.woff2') format('woff2'),
        url('../font/PSLKittithadaProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Kittithada Pro';
    src: url('../font/PSLKittithadaProItalic.woff2') format('woff2'),
        url('../font/PSLKittithadaProItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}